*.txt text
*.iml text
*.ipr text
*.xml text
*.java text
*.mps text merge=mps
*.mpl text merge=mps
*.msd text merge=mps
*.mpr text
*.css text
*.html text
*.dtd text
*.sh text
.debug text
.dependencies text
.generated text
