/system
/config
.DS_Store
.idea/workspace.xml
.idea/inspectionProfiles
/MPSPlugin/.idea/workspace.xml
/MPSPlugin/apiclasses
/IdeaPlugin/.idea/workspace.xml
/IdeaPlugin/build
/IdeaPlugin/build.properties
/IdeaPlugin/mps-core/lib
/IdeaPlugin/mps-core/languages
/IdeaPlugin/tests/blProject/.idea/workspace.xml
/IdeaPlugin/tests/multiModulesProject/.idea/workspace.xml
/IdeaPlugin/buildScript/build/tmp/*
/IdeaPlugin/buildScript/build/artifacts/*
classes
classes_gen
testclasses
*.iws
teamcity-info.xml
*.hprof
$IDEA_PLUGINS_SANDBOX_FOLDER$
*.class
plugins/debugger-api/lib/*.jar
plugins/debugger-java/lib/*.jar
plugins/execution-languages/lib/*.jar